<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <script>MathJax = {loader: {load: ['input/asciimath', 'output/chtml']}}</script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <form action="/send_announcement" method="POST">
        <div class="textArea">
            <p>Annonces</p>
            <textarea id="texte" name="texte" required placeholder="Ecrire l'annonce..."></textarea>
        </div>
        <input id="bouton_lancer" type="submit" value="Envoyer  "><br>
    </form><br>
    <a href="/disconnect">Deconnecter</a>
</body>
</html>
