<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DorIPE</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
        <script>MathJax = {loader: {load: ['input/asciimath', 'output/chtml']}}</script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
<body>
    <h1>TIPE de Dorian GIL</h1>
    <h2>Informations:</h2>
    {% for i in range(lenght) %} 
    <div class="announcement">
    <div class="text">{{data[(lenght-i-1)|string]["text"]}}</div>
    <div class="date">{{data[(lenght-i-1)|string]["time"]}}</div>
    </div>
    {% endfor %}

    <h3>Lien Utile:</h3>
    <a href="https://github.com/SkyTryX/TIPE2526">Github</a> <a href="/admin_login">Panel Admin</a>
    
</body>
</html>